@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #565c66;
  height: 100%;
  margin: 0;
}

.page-background-pink {
  background-color: #feafc3;
}

.page-background-cyan {
  background-color: #69a9ff;
}

.page-background-yellow {
  background-color: #fcc850;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  max-width: 1210px; /*1170px + отступы по краям*/
  padding: 0 20px; /*отступы по краям в случае узкого окна*/
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex-grow: 1;
}

/* ------------------------------------------------ */
/*Хедер*/
.page-header {
  width: 100%;
  height: 100%;
  margin-bottom: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  min-width: 575px;
  height: 100%;
  display: flex;
  margin-right: auto;
}

.navigation-logo-gllacy {
  display: block;
  width: 137px;
  height: 56px;
  color: #2d3440;
  margin: 24px 16px 24px 0;
}

.navigation-list {
  min-width: 422px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 33px 0;
}

.navigation-item {
  position: relative;
  margin: 1px;
}

.navigation-link {
  display: block;
  border-radius: 18px;
  color: #2d3440;
  text-decoration: none;
  padding: 8px 15px;
  margin: 0;
}

.navigation-link-text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  padding-right: 4px;
}

.navigation-user-list {
  min-width: 434px;
  height: 100%;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 35px 0;
}

.navigation-user-item {
  position: relative;
}

.navigation-user-address {
  display: block;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #2d3440;
  text-decoration: none;
  padding: 6px 2px;
}

.navigation-user-link {
  color: #2d3440;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 16px;
  display: flex;
  align-items: center;
  text-decoration: none;
  min-height: 32px;
  padding: 6px 16px 6px 17px;
  justify-content: space-between;
  margin: 1px;
}

.navigation-user-search {
  width: 32px;
  height: 32px;
  justify-content: center;
  color: #2d3440;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 16px;
  display: flex;
  align-items: center;
  margin: 1px;
}

.navigation-user-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  display: block;
  margin-left: 7px;
}

/* Выпадающее меню */
.navigation-sublist {
  position: absolute;
  list-style-type: none;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  margin: 0;
  padding: 0;
  z-index: 1;
  top: 44px;
  left: 2px;
}

.navigation-subitem-link {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  display: block;
  margin: 0;
  padding: 6px 15px;
  color: #2d3440;
  white-space: nowrap;
  text-decoration: none;
}

.navigation-subitem:first-child > .navigation-subitem-link {
  border-radius: 4px 4px 0 0;
  padding-top: 16px;
}

.navigation-subitem:last-child > .navigation-subitem-link {
  border-radius: 0 0 4px 4px;
  padding-bottom: 14px;
}

.navigation-subitem-link-new {
  font-weight: 700;
  padding-bottom: 16px;
  position: relative;
}

.navigation-subitem-link-new::after {
  position: relative;
  content: "";
  border-bottom: 1px solid #b9b9b9;
  top: 12px;
  left: 0;
  display: block;
}

/* Управление выпадающим меню */
.navigation-sublist {
  display: none;
}

.navigation-item:focus-within .navigation-sublist {
  display: block;
}

.navigation-item:focus-within .navigation-link-arrow {
  transform: rotate(180deg);
}

/* Состояния хедера */
.navigation-logo-gllacy:hover {
  color: #fcfcfc;
}

.navigation-logo-gllacy:focus-visible {
  outline: 1px solid #2d3440;
  outline-offset: 4px;
  border-radius: 4px;
}

.navigation-logo-gllacy:active {
  color: #ff4a78;
}

.navigation-link:hover,
.navigation-user-link:hover,
.navigation-user-search:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.navigation-link:focus-visible,
.navigation-user-link:focus-visible,
.navigation-user-search:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
}

.navigation-link:active,
.navigation-user-link:active,
.navigation-user-search:active {
  background-color: rgb(252, 252, 252);
}

.navigation-user-address:hover {
  color: #fcfcfc;
}

.navigation-user-address:focus-visible {
  border-radius: 4px;
  outline: 1px solid #2d3440;
}

.navigation-user-address:active {
  color: #ff4a78;
}

.navigation-subitem-link:hover {
  background-color: #ffcbd8;
}

.navigation-subitem-link:focus-visible {
  outline: none;
  background-color: #ff7799;
}

.navigation-subitem-link:active {
  background-color: #ff7799;
}

/* Дополнительный класс для пунктов меню */
.navigation-link-current {
  color: #fcfcfc;
  background-color: #ff4a78;
}

.navigation-link-current:hover {
  background-color: #ff4a78;
  opacity: 0.6;
}

.navigation-link-current:focus-visible {
  background-color: #ff4a78;
  outline: 2px solid #2d3440;
}

.navigation-link-current:active {
  background-color: #ff4a78;
  opacity: 0.3;
}

/* ------------------------------------------------ */
/* Слайдер */
.slider {
  position: relative;
  margin-bottom: 76px;
}

.slider-wrapper-arrows {
  width: 346px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 45%;
  left: 544px;
}

.slider-button-prev,
.slider-button-next {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 0 0 0 2px #fcfcfc;
  color: #fcfcfc;
  background-color: rgba(252, 252, 252, 0.3);
  z-index: 1;
  cursor: pointer;
}

.slider-button-next {
  transform: rotate(180deg);
}

.slider-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.slider-item {
  width: 888px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.slider-text-wrapper {
  width: 502px;
  margin: 0;
  padding: 0;
  padding-left: 70px;
  margin-right: 38px;
}

.slider-title {
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
  color: #2d3440;
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
}

.slider-text {
  font-size: 18px;
  line-height: 24px;
  color: #2d3440;
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 48px;
}

.slider-button {
  display: inline-block;
  min-width: 139px;
  text-align: center;
  text-decoration: none;
  color: #2d3440;
  background-color: #fcfcfc;
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4);
}

.slider-image-wrapper {
  width: 348px;
  position: relative;
  padding: 0 21px;
}

.slider-cake-pad {
  color: inherit;
  position: absolute;
  top: 100px;
  left: 21px;
  z-index: -1;
}

.slider-photo {
  object-fit: contain;
  display: block;
}

/* Управление кадрами слайдера */
.slider-item > .slider-text-wrapper {
  display: none;
}

.slider-item:not(.slider-item-current) {
  transform: scale(0.3);
  width: 100px;
  margin-right: 40px;
  opacity: 0.4;
}

.slider-item-current > .slider-text-wrapper {
  display: block;
}

.slider-item-current {
  order: -2;
}

.slider-item-current + .slider-item {
  order: -1;
}

.slider-background-pink > .slider-image-wrapper {
  color: #ffcbd8;
}

.slider-background-cyan > .slider-image-wrapper {
  color: #9fc8ff;
}

.slider-background-yellow > .slider-image-wrapper {
  color: #fcdc92;
}

.slider-pagination {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 12px);
  gap: 8px;
  padding: 0;
  margin: 0;
}

.slider-pagination-button,
.slider-pagination-button-current {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.slider-pagination-button-current {
  background-color: rgb(252, 252, 252);
}

.slider-pagination-button {
  background-color: rgba(252, 252, 252, 0.3);
}

.slider-footer {
  display: flex;
  justify-content: space-between;
}

/* Состояния кнопок слайдера */
.slider-button-prev:hover,
.slider-button-next:hover {
  background-color: #fcfcfc;
  color: #2d3440;
  box-shadow: 0 0 0 2px #fcfcfc;
}

.slider-button-prev:focus-visible,
.slider-button-next:focus-visible {
  box-shadow: 0 0 0 2px #2d3440;
  color: #2d3440;
  outline: none;
}

.slider-button-prev:active,
.slider-button-next:active {
  background-color: rgba(252, 252, 252, 0.5);
  color: #2d3440;
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.5);
}

.slider-pagination-button:hover {
  outline: 1px solid #fcfcfc;
}

.slider-pagination-button:focus-visible,
.slider-pagination-button-current:focus-visible {
  outline: 1px solid #2d3440;
}

.slider-pagination-button:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

/* ------------------------------------------------ */
/* Блок социальных сетей */
.social-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 28px);
  gap: 12px;
  height: 28px;
  margin: 0;
  padding: 0;
}

.social-link {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid rgba(252, 252, 252, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: relative;
}

.social-link::before {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  content: "";
  background-color: #2d3440;
  position: absolute;
  z-index: -1;
  opacity: 0;
  transition: 0.15s;
}

.social-icon {
  color: #fcfcfc;
}

.social-link:hover::before {
  opacity: 1;
}

.social-link:focus-visible::before {
  opacity: 1;
}

.social-link:focus-visible {
  border: 2px solid #2d3440;
  outline: none;
}

.social-link:active::before {
  opacity: 0.5;
}

.social-link:active {
  opacity: 0.5;
}

/* ------------------------------------------------ */
/*Секция Подарки*/
.presents {
  margin-bottom: 80px;
}

.presents-title {
  text-align: center;
  margin: 0;
  margin-bottom: 55px;
  padding: 0;
}

.presents-list {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
}

.presents-item {
  width: 570px;
  border-radius: 16px;
  background-color: #ff7799;
  margin: 0;
  padding: 36px;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.presents-item-raspberry {
  background-image: url("../images/presents-raspberry.png");
}

.presents-item-marshmallow {
  background-image: url("../images/presents-marshmallow.png");
}

.presents-item-title,
.presents-item-text {
  color: #2d3440;
  margin: 0;
  padding: 0;
  padding-bottom: 28px;
  max-width: 328px;
}

 .presents-item-button {
  display: inline-block;
  min-width: 176px;
  max-width: 328px;
  text-align: center;
  text-decoration: none;
  color: #2d3440;
  background-color: #fcfcfc;
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4);
}

/* ------------------------------------------------ */
/*Секция Самые популярные, Результат поиска*/
.favorite-cards {
  margin-bottom: 80px;
}

.search-results {
  margin-bottom: 40px;
}

.favorite-cards-title {
  text-align: center;
  margin: 0;
  margin-bottom: 110px;
  padding: 0;
}

.favorite-cards-list,
.search-results-cards-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 30px;
  row-gap: 92px;
}

.search-results-cards-list {
  margin-bottom: 16px;
}

.card-item {
  width: 270px;
  border-radius: 8px;
  background-color: #fcfcfc;
  margin: 0;
  padding: 132px 40px 24px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.card-item-image-mask {
  width: 168px;
  height: 168px;
  border-radius: 50%;
  position: absolute;
  top: -52px;
}

.card-item-image {
  object-fit: cover;
}

.card-item-title,
.card-item-price {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #2d3440;
  margin: 0;
  padding: 0;
}

.card-item-price {
  width: 128px;
  margin-right: 24px;
}

.card-item-title {
  text-align: center;
  padding-bottom: 8px;
}

.card-item-description {
  text-align: center;
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
}

.card-item-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-item-button {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  color: #fcfcfc;
  background-color: #ff2f64;
}

.search-results-footer {
  width: 100%;
  min-height: 126px;
  display: flex;
  align-items: center;
}

.button-show-more {
  border: none;
  display: block;
  min-width: 179px;
  color: #2d3440;
  background-color: #fcfcfc;
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4);
  cursor: pointer;
  margin-left:  487px;
  margin-right: auto;
}

.pagination-wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin-right: -6px;
}

.pagination-list {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.pagination-item {
  min-width: 24px;
  min-height: 24px;
  padding: 0;
  margin: 0;
}

.pagination-link,
.pagination-link-current {
  min-width: 24px;
  min-height: 24px;
  border-radius: 50%;
  color: #2d3440;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 2px;
}

.pagination-link-current {
  background-color: #fcfcfc;
}

.pagination-link-text {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.pagination-button {
  border: none;
  width: 24px;
  min-height: 24px;
  color: #2d3440;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pagination-button-noactive {
  width: 24px;
  min-height: 24px;
  color: #2d3440;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
}

.pagination-button-back {
  margin-right: 5px;
}

.pagination-button-forward {
  margin-left: 5px;
}

.pagination-arrow-back {
  transform: rotate(180deg);
  opacity: 0.3;
}

/* Состояния кнопок */
.card-item-button:hover {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #ff2f64;
  color: #2d3440;
}

.card-item-button:focus-visible {
  outline: 2px solid #2d3440;
}

.card-item-button:active {
  background-color: #ffcbd8;
  outline: 2px solid #ff2f64;
  color: #2d3440;
}

.button-show-more:hover {
  background-color: rgba(252, 252, 252, 0.4);
  box-shadow: 0 0 0 4px #fcfcfc;
}

.button-show-more:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: 0 0 0 2px #2d3440;
  outline: none;
}

.button-show-more:active {
  background-color: #fcfcfc;
  box-shadow: 0 0 0 2px #2d3440;
}

.pagination-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.pagination-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 1px solid #2d3440;
}

.pagination-link:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 1px solid #fcfcfc;
}

.pagination-button:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 4px;
}

.pagination-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 4px;
  outline: 1px solid #2d3440;
}

.pagination-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 4px;
  outline: 1px solid #fcfcfc;
}

/* ------------------------------------------------ */
/*Секция Преимущества*/
.advantages {
  width: 100%;
  border-radius: 16px;
  background-color: #efe3cc;
  background-image: url("../images/pattern-wafer.jpg");
  background-position: -16px top;
  margin-bottom: 80px;
  padding: 24px;
}

.advantages-container {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background-color: #ffffff;
  padding: 56px 40px;
}

.advantages-title {
  text-align: center;
  margin: 0;
  margin-bottom: 56px;
  padding: 0;
}

.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  row-gap: 40px;
}

.advantages-item {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 16px;
}

.advantages-text {
  margin: 0;
  padding: 0;
}

.advantages-logo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #2d3440;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ------------------------------------------------ */
/*Раздел Новости*/
.main-column-wrapper {
  width: 100%;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
}

.news {
  width: 570px;
  min-height: 224px;
  border-radius: 16px;
  background-color: #ffffff;
  background-image: url("../images/background-article-news.jpg");
  background-repeat: no-repeat;
  background-position: right top;
}

.news-link {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 32px;
}

.news-link:hover {
  opacity: 0.4;
}

.news-link:focus-visible {
  border-radius: 16px;
  outline: 1px solid #2d3440;
  outline-offset: 2px;
}

.news-link:active {
  opacity: 0.6;
}

.news-subtitle {
  line-height: 20px;
  color: #565c66;
  display: block;
  width: 303px;
  padding: 0;
  padding-bottom: 12px;
  margin: 0;
}

.news-title {
  width: 303px;
  color: #2d3440;
  padding: 0;
  margin: 0;
}

/* ------------------------------------------------ */
/*Секция Подписка на рассылку*/
.subscribe {
  width: 570px;
  min-height: 224px;
  border-radius: 16px;
  background-color: #ffffff;
  background-image: url("../images/pattern-airmail.jpg");
  background-position: -6px -6px;
  padding: 6px;
}

.subscribe-container {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background-color: #ffffff;
  padding: 26px;
}

.subscribe-text {
  padding: 0;
  margin: 0;
  margin-bottom: 44px;
}

.subscribe-form {
  width: 100%;
  border-radius: 4px;
  display: flex;
}

.subscribe-field {
  width: 332px;
  height: 46px;
  margin-right: 17px;
}

.subscribe-button {
  color: #fcfcfc;
  background-color: #ff2f64;
  border: none;
  box-shadow: 0 0 0 4px rgba(255, 47, 100, 0.3);
  min-width: 152px;
  cursor: pointer;
}

/* ------------------------------------------------ */
/*Секция Доставка*/
.delivery {
  width: 100%;
  min-height: 534px;
  border-radius: 16px;
  background-color: #ffffff;
  background-image: url("../images/background-delivery.jpg");
  background-position: 0 center;
  background-repeat: no-repeat;
  margin-bottom: 80px;
  padding: 64px 64px 64px 100px;
  display: flex;
}

.delivery-text-wrapper {
  width: 372px;
  margin-right: 135px;
  padding-top: 103px;
}

.delivery-title {
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
}

.delivery-text {
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
}

.delivery-column-wrapper {
  width: 500px;
  border-radius: 8px;
  background-color: #fcfcfc;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  padding: 40px 40px 42px 40px;
}

.delivery-form {
  margin: 0;
  padding: 0;
}

.delivery-form-wrapper {
  width: 100%;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  display: flex;
}

.delivery-field-group {
  padding: 0;
  margin: 0;
  position: relative;
}

.delivery-field-date {
  width: 117px;
  height: 46px;
  margin-right: 16px;
}

.delivery-field-tel {
  width: 287px;
  height: 46px;
}

.delivery-field-address {
  width: 420px;
  height: 46px;
}

.delivery-form-label {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #2d3440;
  margin: 0;
  padding: 0 8px 8px 0;
  display: inline-block;
  max-width: 325px;  /* чтобы тултип не уехал за пределы окна */

}

.delivery-button {
  min-width: 152px;
  display: block;
  color: #fcfcfc;
  background-color: #ff2f64;
  border: none;
  box-shadow: 0 0 0 4px rgba(255, 47, 100, 0.3);
  margin: 32px auto 0 auto;
  cursor: pointer;
}

/* Тултипы секции "Доставка" */
.delivery-tooltip {
  position: relative;
  top: 0;
  left: 95px;
}

.delivery-tooltip-button {
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: none;
  color: #2d3440;
  background-color: transparent;
  padding: 0;
  position: absolute;
  top: 3px;
  left: -98px;
  cursor: pointer;
}

/* Расширение кликабельной зоны кнопки тултипа */
.delivery-tooltip-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28px;
  height: 28px;
}

.delivery-tooltip-text {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  min-width: 166px;
  min-height: 52px;
  border-radius: 1px;
  border: 1px solid #b9b9b9;
  color: #565c66;
  background-color: #fcfcfc;
  box-shadow: 0 2px 12px rgba(173, 152, 143, 0.18);
  padding: 10px 7px;
  position: absolute;
  top: -8px;
  left: -76px;
  z-index: 1;
  display: none;
}

.delivery-tooltip-text::after {
  width: 10px;
  height: 10px;
  background-color: #fcfcfc;
  content: "";
  transform: rotate(45deg);
  position: absolute;
  top: 13px;
  left: -6px;
  z-index: 1;
  border-bottom: 1px solid #b9b9b9;
  border-left: 1px solid #b9b9b9;
}

.delivery-tooltip-button:hover + .delivery-tooltip-text,
.delivery-tooltip-button:focus + .delivery-tooltip-text {
  display: block;
  z-index: 2;
}

/* Состояния кнопок тултипа */
.delivery-tooltip-button:hover {
  transition: 0.75s;
  color: #ff2f64;
}

.delivery-tooltip-button:focus-visible {
  outline: 1px solid #2d3440;
  outline-offset: 1px;
}

.delivery-tooltip-button:active {
  color: #ff2f64;
}

/* ------------------------------------------------ */
/*Секция Контакты*/
.contacts {
  width: 100%;
  min-height: 492px;
  border-radius: 16px;
  background-color: #ffffff;
  background-image: url("../images/background-contacts.jpg");
  background-position: 0 center;
  background-repeat: no-repeat;
  padding: 64px;
}

.contacts-wrapper {
  width: 343px;
  border-radius: 8px;
  background-color: #fcfcfc;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  margin: 0;
  padding: 40px;
}

.contacts-text {
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
}

.contacts-description,
.contacts-address {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #2d3440;
  margin: 0;
  padding: 0;
}

.contacts-description {
  padding-bottom: 24px;
}

.contacts-address {
  display: inline-block;
  text-decoration: none;
}

/* Состояние ссылки */
.contacts-address:hover {
opacity: 0.4;
}

.contacts-address:focus-visible {
  outline: 1px solid #2d3440;
  border-radius: 2px;
  outline-offset: 2px;
}

.contacts-address:active {
  opacity: 0.6;
}

.contacts-caption {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
}

.contacts-button {
  min-width: 250px;
  display: block;
  color: #fcfcfc;
  background-color: #ff2f64;
  border: none;
  box-shadow: 0 0 0 4px rgba(255, 47, 100, 0.3);
  margin: 0;
  cursor: pointer;
}

/* ------------------------------------------------ */
/*Футер*/
.page-footer {
  padding: 48px 0;
  display: flex;
  justify-content: space-between;
}

.footer-social-list {
  width: 208px;
  margin-left: 3px;
}

.footer-information-list {
  list-style-type: none;
  padding: 0;
  margin: 0 30px;
  display: grid;
  grid-template-columns: auto auto;
  height: min-content;
  row-gap: 4px;
}

.footer-information-item {
  padding: 0;
  padding-left: 22px;
  margin: 0;
}

.footer-information-link {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  padding: 0 2px;
}

.footer-information-favorites {
  display: flex;
  align-items: center;
  margin-left: -23px;
}

.footer-information-favorites-icon {
  margin-right: 8px;
}

.footer-information-favorites-text {
  font-weight: 700;
}

.htmlacademy-wrapper {
  width: 196px;
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}

.htmlacademy-link-logo {
  display: block;
  width: 93px;
  height: 27px;
  color: #2d3440;
  margin-bottom: 14px;
}

.htmlacademy-text {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #2d3440;
  padding: 0;
  margin: 0;
}

.htmlacademy-link {
  color: #2d3440;
  display: inline-block;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-decoration-color: rgba(45, 52, 64, 0.5);
}

/* Состояния ссылок */
.footer-information-link:hover {
  color: #fcfcfc;
}

.footer-information-link:focus-visible {
  border-radius: 4px;
  outline: 1px solid #2d3440;
}

.footer-information-link:active {
  color: #ff4a78;
}

.htmlacademy-link-logo:hover {
  color: #fcfcfc;
}

.htmlacademy-link-logo:focus-visible {
  border-radius: 2px;
  outline: 1px solid #2d3440;
  outline-offset: 2px;
}

.htmlacademy-link-logo:active {
  color: #ff4a78;
}

.htmlacademy-link:hover {
  color: #fcfcfc;
  text-decoration-color: #fcfcfc;
}

.htmlacademy-link:focus-visible {
  border-radius: 2px;
  outline: 1px solid #2d3440;
  outline-offset: 2px;
}

.htmlacademy-link:active {
  color: #ff4a78;
  text-decoration-color: #ff4a78;
}

/* ------------------------------------------------ */
/* Поповеры */
.popover-close {
  display: none;
}

.popover {
  border-radius: 4px;
  color: #2d3440;
  background-color: #fcfcfc;
  position: absolute;
  top: 41px;
  right: 0;
  z-index: 2;
}

.popover-basket {
  width: 442px;
}

.popover-emptybasket {
  width: 288px;
}

.popover-basket-content {
  width: 100%;
  height: 100%;
  padding: 48px;
}

.popover-emptybasket-content {
  width: 100%;
  height: 100%;
  padding: 48px 28px 16px 28px;
  text-align: center;
}

.popover-basket-button {
  min-width: 198px;
  display: block;
  color: #fcfcfc;
  background-color: #ff2f64;
  border: none;
  box-shadow: 0 0 0 4px rgba(255, 47, 100, 0.3);
  margin: 0;
  margin-right: 32px;
  cursor: pointer;
}

.popover-basket-list {
  list-style-type: none;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  padding-bottom: 6px;
  border-bottom: 1px solid #e7e7e7;
}

.popover-basket-item {
  display: grid;
  grid-template-columns: auto 16px;
  column-gap: 16px;
  align-items: center;
  margin-bottom: 24px;
}

.popover-basket-link {
  text-decoration: none;
  display: grid;
  grid-template-columns: 46px auto 88px;
  column-gap: 16px;
  align-items: center;
}

.popover-basket-link:hover {
  opacity: 0.4;
}

.popover-basket-link:hover + .popover-basket-removal-button {
  background-color: #ff2f64;
  color: #fcfcfc;
}

.popover-basket-link:focus-visible {
  border-radius: 4px;
  outline: 1px solid #2d3440;
  outline-offset: 2px;
}

.popover-basket-link:active {
  opacity: 0.6;
}

.popover-basket-image {
  object-fit: cover;
}

.popover-basket-text {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #2d3440;
  margin: 0;
  padding: 0;
  padding-bottom: 4px;
}

.popover-basket-description {
  font-size: 14px;
  line-height: 20px;
  color: #b9b9b9;
  margin: 0;
  padding: 0;
}

.popover-basket-removal-button {
  width: 16px;
  height: 16px;
  border: none;
  border-radius: 2px;
  color: #2d3440;
  background-color: #fcfcfc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.popover-basket-removal-button:hover {
  background-color: #ff2f64;
  color: #fcfcfc;
}

.popover-basket-removal-button:focus-visible {
  outline: 1px solid #2d3440;
  outline-offset: 2px;
  background-color: #ff2f64;
  color: #fcfcfc;
}

.popover-basket-removal-button:active {
  background-color: #feafc3;
  color: #fcfcfc;
}

.popover-basket-results-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popover-enter {
  width: 420px;
}

.popover-enter-content {
  width: 100%;
  height: 100%;
  padding: 48px;
}

.popover-search-field,
.popover-enter-field {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #2d3440;
  padding-left: 16px;
  border-radius: 4px;
  border: none;
  outline: 1px solid #b9b9b9;
  width: 324px;
  height: 46px;
}

.popover-enter-field {
  margin-bottom: 19px;
}

.popover-enter-wrapper {
  display: flex;
  align-items: flex-start;
  padding: 14px 0 0 0;
}

.popover-enter-link {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #2d3440;
  text-underline-offset: 4px;
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-bottom: 4px;
}

.popover-enter-link:hover {
  opacity: 0.4;
}

.popover-enter-link:focus-visible {
  border-radius: 2px;
  outline: 1px solid #2d3440;
  outline-offset: 2px;
}

.popover-enter-link:active {
  opacity: 0.6;
}

.popover-enter-column {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.popover-enter-button {
  min-width: 113px;
  min-height: 44px;
  display: block;
  color: #fcfcfc;
  background-color: #ff2f64;
  border: none;
  box-shadow: 0 0 0 4px rgba(255, 47, 100, 0.3);
  margin: 0;
  margin-right: 23px;
  cursor: pointer;
}

.popover-search {
  width: 356px;
}

.popover-search-content {
  width: 100%;
  height: 100%;
  padding: 24px 16px;
}

.popover {
  display: none;
}

.navigation-user-item:focus-within .popover {
  display: block;
}

/* ------------------------------------------------ */
/* Модальное окно */
.modal-container {
  width: 100%;
  height: 100%;
  background-color: rgba(45, 52, 64, 0.3);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.modal-container-close {
  display: none;
}

.modal-window {
  width: 570px;
  background-color: #fcfcfc;
  border-radius: 8px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  margin: auto;
  padding: 64px 64px 66px 66px;
  position: relative;
}

.modal-close-button {
  width: 20px;
  height: 20px;
  background-color: #fcfcfc;
  border: none;
  border-radius: 2px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 32px;
  right: 32px;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #ff2f64;
  color: #fcfcfc;
}

.modal-close-button:focus-visible {
  outline: 1px solid #2d3440;
  outline-offset: 2px;
  background-color: #ff2f64;
  color: #fcfcfc;
}

.modal-close-button:active {
  background-color: #feafc3;
  color: #fcfcfc;
}

.modal-field-name,
.modal-field-email,
.modal-field-additional {
  width: 441px;
  margin-bottom: 17px;
}

.modal-field-name,
.modal-field-email {
  height: 46px;
}

.modal-field-additional {
  height: 149px;
  padding-top: 16px;
  resize: none;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.modal-button {
  color: #fcfcfc;
  background-color: #ff2f64;
  border: none;
  box-shadow: 0 0 0 4px rgba(255, 47, 100, 0.3);
  min-width: 152px;
  display: block;
  margin: 16px 0 0 0;
  cursor: pointer;
}

/* ------------------------------------------------ */
/* Оформление */
.button-basic {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 12px 18px;
  min-height: 44px;
  border-radius: 22px;
  position: relative;
}

.button-basic::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 22px;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.title-basic-typography {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  color: #2d3440;
}

.subtitle-basic-typography {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.field-basic {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #2d3440;
  padding-left: 16px;
  border-radius: 4px;
  border: none;
  outline: 1px solid #b9b9b9;
}

.field-basic::placeholder {
  color: #b9b9b9;
  opacity: 1;
}

/* Состояния основных ("прозрачных") кнопок */
.slider-button:hover,
.presents-item-button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  box-shadow: 0 0 0 4px #fcfcfc;
}

.slider-button:focus-visible,
.presents-item-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: 0 0 0 2px #2d3440;
  outline: none;
}

.slider-button:active,
.presents-item-button:active {
  background-color: #fcfcfc;
  box-shadow: 0 0 0 2px #2d3440;
}

/* Состояния дополнительных ("красных") кнопок */
.subscribe-button:hover,
.delivery-button:hover,
.contacts-button:hover,
.popover-enter-button:hover,
.popover-basket-button:hover,
.modal-button:hover {
  color: #2d3440;
  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: 0 0 0 4px #ff2f64;
}

.subscribe-button:focus-visible,
.delivery-button:focus-visible,
.contacts-button:focus-visible,
.popover-enter-button:focus-visible,
.popover-basket-button:focus-visible,
.modal-button:focus-visible {
  color: #fcfcfc;
  background-color: #ff2f64;
  box-shadow: 0 0 0 2px #2d3440;
  outline: none;
}

.subscribe-button:active,
.delivery-button:active,
.contacts-button:active,
.popover-enter-button:active,
.popover-basket-button:active,
.modal-button:active {
  color: #fcfcfc;
  background-color: #feafc3;
  box-shadow: 0 0 0 2px #2d3440;
}

/* Дополнительные классы для кнопок со спиннером */
.button-spinner-white,
.button-spinner-red {
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 17px;
  height: 17px;
  vertical-align: middle;
  margin-left: 9px;
}

.button-spinner-white {
  background-image: url(../images/svg/spinner-white.svg);
}

.button-spinner-red {
  background-image: url(../images/svg/spinner-red.svg);
}

.popover-title,
.modal-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #2d3440;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
}

/* ------------------------------------------------ */
/* Страница каталога */
.breadcrumbs {
  padding-top: 9px;
  margin-bottom: 40px;
}

.catalog-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  color: #2d3440;
  padding: 0;
  margin: 0;
}

.breadcrumbs-list {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}

.breadcrumbs-item {
  padding: 0;
  margin: 0;
  margin-right: 28px;
  position: relative;
}

.breadcrumbs-item::after {
  width: 7px;
  height: 6px;
  position: absolute;
  content: url("../images/svg/arrow-breadcrumbs.svg");
  top: -4px;
  right: -18px;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  display: block;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #2d3440;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs-link-current {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-decoration-color: #2d3440;
}

.breadcrumbs-link:hover {
  color: #fcfcfc;
}

.breadcrumbs-link:focus-visible {
  outline: 1px solid #2d3440;
  outline-offset: 2px;
  border-radius: 2px;
}

.breadcrumbs-link:active {
  color: #ff4a78;
}

/* ------------------------------------------------ */
/* Фильтр поиска */
.search-filters {
  margin-bottom: 95px;
}

.search-filters-form {
  min-width: 824px;
  min-height: 148px;
}

.search-filters-wrapper {
  display: flex;
  align-items: flex-end;
}

.search-filters-wrapper:not(:last-child) {
  margin-bottom: 16px;
}

.search-filters-group {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.sorting-results {
  min-width: 196px;
  height: 36px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #2d3440;
  background-color: rgba(252, 252, 252, 0.3);
  border: none;
  border-radius: 18px;
  appearance: none;
  background-image: url("../images/svg/arrow-sorting-select.svg");
  background-repeat: no-repeat;
  background-position: right 15px center;
  padding: 8px 44px 8px 16px;
  margin: 0;
  margin-right: 24px;
}

.sorting-results:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.sorting-results:focus-visible {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 2px solid #fcfcfc;
}

/* range-слайдер */
.range-wrapper {
  width: 196px;
  height: 36px;
  border-radius: 18px;
  background-color: rgba(252, 252, 252, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
}

.range-scale {
  width: 164px;
  height: 2px;
  border-radius: 1px;
  background-color:rgba(86, 92, 102, 0.3);
  position: relative;
}

.range-bar {
  width: 56px;
  height: 2px;
  background-color:rgb(86, 92, 102);
  position: absolute;
  left: 40px;
}

.range-toggle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #2d3440;
  border: none;
  position: absolute;
  cursor: pointer;
}

.range-toggle::after {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fcfcfc;
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
}

.toggle-min {
  top: -7px;
  left: -16px;
}

.toggle-max {
  top: -7px;
  left: 56px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: flex-start;
}

.range-input {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #2d3440;
  width: 40px;
  padding: 0 3px 0 1px;
  text-align: right;
  background-color: transparent;
  border: none;
  appearance: none;
  -moz-appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.range-input:hover {
  appearance: none;
  -moz-appearance: textfield;
}

.range-input:focus-visible {
  appearance: none;
  -moz-appearance: textfield;
  outline: 1px solid #2d3440;
  background-color: #fcfcfc;
}

.range-toggle:hover {
  background-color: #fcfcfc;
}

.range-toggle:hover::after {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #2d3440;
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
}

.range-toggle:focus-visible {
  background-color: #fcfcfc;
  outline: 2px solid #2d3440;
  outline-offset: -2px;
}

.range-toggle:focus-visible::after {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #2d3440;
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
}

.range-toggle:active {
  background-color: #2d3440;
}

/* Чекбоксы и радиокнопки */
.sorting-results-label,
.search-filters-title {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #2d3440;
  padding: 0;
  margin: 0 0 8px 16px;
}

.search-filters-title + .search-filters-title {
  margin-left: 0;
}

.search-filters-list {
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 18px;
  list-style-type: none;
  margin: 0;
  padding: 4px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.search-filters-list-filler {
  min-width: 604px;
  min-height: 40px;
  margin-right: 18px;
}

.search-filters-list-fat {
  min-width: 383px;
  min-height: 36px;
}

.search-filters-item:not(:last-child) {
  margin-right: 16px;
}

.control {
  display: block;
  position: relative;
}

.control-label {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #2d3440;
  padding: 0;
  margin: 0;
  margin-left: 4px;
}

.control-mark {
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
  left: 0;
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
}


.control-input[type="radio"] + .control-mark {
background-image: url("../images/svg/radio-catalog-false.svg");
}

.control-input[type="checkbox"] + .control-mark {
  background-image: url("../images/svg/checkbox-catalog-false.svg");
}

.control-input[type="radio"]:checked + .control-mark {
  background-image: url("../images/svg/radio-catalog-true.svg");
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../images/svg/checkbox-catalog-true.svg");
}

.control:hover > .control-mark {
  filter: invert(100%);
}

.control-input[type="radio"]:focus-visible + .control-mark {
  outline: 1px solid #2d3440;
  border-radius: 50%;
  outline-offset: 2px;
}

.control-input[type="checkbox"]:focus-visible + .control-mark {
  outline: 1px solid #2d3440;
  border-radius: 2px;
  outline-offset: 2px;
}

.search-filters-button {
  min-width: 185px;
  min-height: 36px;
  padding: 8px 52px;
  border: none;
  border-radius: 18px;
  box-shadow: 0 0 0 2px #fcfcfc;
  background-color: rgba(252, 252, 252, 0.3);
  cursor: pointer;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #2d3440;
  margin-bottom: 2px;
}

/* Состояния кнопки "Применить" */
.search-filters-button:hover {
  background-color: #fcfcfc;
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.3);
}

.search-filters-button:focus-visible {
  box-shadow: 0 0 0 2px #2d3440;
  outline: none;
}

.search-filters-button:active {
  background-color: rgba(252, 252, 252, 0.5);
}
